.mainHeader{
   text-align: center;
}
/* .main{
    background-color: blue;
} */
.songs{
    margin: auto;
    padding: 20px
};
.aside{
    text-align: right;
};

.background{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fmusic-clip-art&psig=AOvVaw2dny0BWs5hhiCkqCFfPmgp&ust=1707090516473000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCPjMkvOtkIQDFQAAAAAdAAAAABAE');
    background-color: aliceblue;
};

.summary{
    background-color: aliceblue;
}